<header class="logo">
    <img src="/img/chart.svg" height="120px" width="120px">
    <h4><a href="/" class="rail-col">Stocks</a></h4>
</header>
<div class="divider"></div>
<section>
    <ul>
        <li><a href="/" class="rail-link">Home</a></li>
        <li><a href="/about" class="rail-link">About</a></li>
    </ul>
</section>
<div class="spacer"></div>
<div class="divider"></div>
<div class="rail-foot">
    <h6>Made with 💙</h6>
</div>