<div class="navbar-fixed">
    <nav class="NavBar">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo center" style="color: rgba(0, 0, 0, 0.897);">Stocks</a>
            </div>
        </div>
    </nav>
</div>