<div class="hero"></div>
<div class="conatainer">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h3>Stocks App</h3>
                    <p>V 0.8</p>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h4 class="grey-text text-darken-1">Contributors</h4>
                                <h5><a class="ghl" href="https://github.com/raydwaipayan"><img class="ghi" src="/img/github.svg"
                                            alt="" height="28px" width="28px"></a>Dwaipayan Ray</h5>
                                <h5><a class="ghl" href="https://github.com/sarbikbetal"><img class="ghi" src="/img/github.svg"
                                            alt="" height="28px" width="28px"></a>Sarbik Betal</h5>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
                            title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
                            title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                </div>
            </div>
        </div>
    </div>
</div>