<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Stocks app</h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title rail-col">Get Stock insights</span>
                    <div class="container">
                        <div class="row">
                            <form action="/stock" method="post" id="query" name="query">
                                <div class="row">
                                    <div class="col s12 m6">
                                        <input type="text" class="datepicker" placeholder="Start Date" name="start">
                                    </div>
                                    <div class="col s12 m6">
                                        <input type="text" id="date2" class="datepicker" placeholder="End Date" name="end">
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <select name="ticker">
                                            <option value="" disabled selected>-Choose Ticker-</option>
                                            <option value="ADSL">ADSL</option>
                                            <option value="ALICON">ALICON</option>
                                            <option value="BAJAJ_AUTO">BAJAJ_AUTO</option>
                                            <option value="BBL">BBL</option>
                                            <option value="BEL">BEL</option>
                                            <option value="BHEL">BHEL</option>
                                            <option value="BIL">BIL</option>
                                        </select>
                                        <label>Select Ticker</label>
                                    </div>
                                </div>
                                <button class="btn waves-effect waves-light" type="submit" name="action" style="float:right">Submit
                                    <i class="material-icons right">send</i>
                                </button>

                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>