<div class="card" style="margin:20px 10px">
    <div class="card-content">
        <div id="chart-container" style="position: relative; height:40vh; width:calc(100vw - 340px)">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
<div class="card" style="margin:20px 10px">
    <div class="card-content">
        <div class="pages" id="pages"></div>
        <div class="table" id="table"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="/js/charts.js"></script>