.hero {
    height: 30vh;
    background-image: url('/img/stock.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
.rail {
    position: fixed;
    float: left;
    width: 280px;
    height: calc(100vh - 64px);

}

.view {
    position: absolute;
    right: 0;
    width: calc(100vw - 290px);
    float: right;
}
.ghl{
    padding: 0 5px;
}
.ghi{
    padding-top: 7px;
}

.fix-.main-view {
    position: absolute;
}

.spacer {
    display: block;
    height: calc(100vh - 490px)
}

.rail-foot {
    padding: 0 20px;
    color: #455a64;
    text-align: center;
}

.NavBar {
    background-color: #1eb980;
}

header.logo {
    padding: 50px 80px 10px 80px;
    text-align: center;
}

#table>thead {
    background-color: #455a64;
    color: #fff;
}

th {
    border-radius: unset !important;
}

a.rail-link {
    display: block;
    font-size: 24px;
    color: #000000d3;
    padding: 5px 50px;
    text-align: center;
}

.rail-col {
    color: #1eb980;
}

.charter {
    position: relative;
    height: 40vh;
    width: calc(100vw - 340px);
}

@media screen and (max-width: 720px) {
    .mobile-hide {
        visibility: hidden;
    }

    .view {
        position: absolute;
        right: 0;
        width: 100vw;
        float: right;
    }

    .charter {
        width: calc(100vw - 70px);
    }
}